@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

{
    margin: 0; /*Makes the weird space at the top go away */
}

html {
    font-family:  'Share Tech Mono', monospace;
    border:none;
    margin: 0;
    padding:0px;
    padding top: 100px;
}

body{
    margin: 0px;
}

br{
    line-height: 100px;
}

#main-content {
    position: relative;
    width: 100%;
    padding-left:15%; /* padding-left must be the same as sidebar width */
    height: 0px; /* This could be anything, content should scroll vertical */
    background: white;
    box-sizing:border-box;
    padding-top: 0px;
}

#main-content2 h1{
    position: relative;
    width: 100%;
    padding-left:10%; /* padding-left must be the same as sidebar width */
    height: 0px; /* This could be anything, content should scroll vertical */
    background: white;
    box-sizing:border-box;
    font-size: 90pt;
    line-height: auto;
}

#main-content2 h2{
    width: 100%;
    padding-left:1%; /* padding-left must be the same as sidebar width */
    height: 1px; /* This could be anything, content should scroll vertical */
    background: white;
    box-sizing:border-box;
    margin:0px;
    font-size: 20pt; 
    padding-top:30%;
    line-height: auto;
}

#main-content2 h3{
    position: relative;
    width: 100%;
    padding-left:10%; /* padding-left must be the same as sidebar width */
    height: 40%; /* This could be anything, content should scroll vertical */
    background: white;
    box-sizing:border-box;
    font-size: 70pt;
    line-height: auto;
}

a.visited{
    color:pink;
}

a:hover{
    color:#FF7963;
}

h1:hover{
    color:#FF7963;
}

#main-content2 a{
    text-decoration: none;
    font-color:pink;
}

#wrapper-index{
    padding-top: 5%;
    padding-left:5%;
    color: #C8FF00;
    font-size: 20pt;
}   