@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
.sidebar {
    padding-top:80px; /* padding-top must be the same as header height */
    padding-left:60px;
    width:15%;
    height:100%;
    background-color:white;
    box-sizing:border-box;
    position: fixed;
    z-index:99;
    font-size:12pt;
    font-color:red;  

}

.container {
    font-family:  'Share Tech Mono', monospace;
    padding: 25px;
    margin: 0px;
}

.maincontent {
    position: relative;
    width: 100%;
    padding-left:15%; /* padding-left must be the same as sidebar width */
    height: 0px; /* This could be anything, content should scroll vertical */
    background: white;
    box-sizing:border-box;
    padding-top: 0px;
}

.linkStyle {
    color: '#CACCCE';
    textDecoration: 'none';
}

.linkActiveStyle {
    color: "#FF7963";
}